.box-container{

   background-color: white;
   color: black;
   width: 480px;
   height: 230px;
   box-shadow:
   2.4px 2px 2.2px rgba(0, 0, 0, 0.07),
   5.8px 4.9px 5.3px rgba(0, 0, 0, 0.037),
   10.9px 9.3px 10px rgba(0, 0, 0, 0.027),
   19.4px 16.5px 17.9px rgba(0, 0, 0, 0.019),
   36.3px 30.9px 33.4px rgba(0, 0, 0, 0.013),
   87px 74px 80px rgba(0, 0, 0, 0.006)
 ;
   padding: 20px 30px;
   
}
.Heading{
    font-size: 28px;
    font-weight: 600;
}
.input-hol{
    padding: 30px 0px;
}
.num{
    border: none;
    border-bottom: 3px solid #3C84F0;
    font-size: 28px;
    width: 80px;
    font-weight: 600;
}
.num:focus{
    outline: none;
}
span{
    font-size: 26px;
    padding: 0px 10px;
}
label{
    font-size: 26px;
    font-weight: 400;
    padding: 0px ;
}
.button-s{
border: none;
color: white;
background-color: #1d1d1d;
font-size: 20px;
border-radius: 5px;
padding: 5px 35px;
}
@media screen  and (max-width:426px){
    
    .Heading{
        font-size: 22px;
    }
    .box-container{
        width: 350px;
        padding: 10px 15px;
        
    }
    span{
        font-size: 22px;
    }
    label {
        font-size: 22px;
        font-weight: 400;
     
    }
}
.box-container img{
    width: 40px;
    margin: 0px 10px;
}
.Heading{
    display: flex;

    align-items: center;
}
@media screen  and (max-width:380px){
    
    .Heading{
        font-size: 18px;
    }
    .num {
        border: none;
        border-bottom: 3px solid #3C84F0;
        font-size: 24px;
        width: 70px;
        font-weight: 600;
    }
    span{
        font-size: 18px;
    }
    .box-container{
        width: 300px;
        padding: 10px 15px;
        
    }
    label {
        font-size: 18px;
        font-weight: 400;
     
    }
    .button-s {
        border: none;
        color: white;
        background-color: #1d1d1d;
        font-size: 18px;
        border-radius: 5px;
        padding: 3px 20px;
    }
}
